*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 25px;
}

/* Grid to layout whole page */
.everything{
    border: 1px solid rgb(234, 22, 22);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: max-content 4fr;
    grid-template-rows: 1fr 4fr;
    
}



/* Dashboard on the left of screen containing links */
.dash{
    color: white;
    border: 1px solid black;
    background-color: lightblue;
    grid-row: 1 / -1; 
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dash-header{
    font-size: 1.7em;
    padding: 5px 15px 5px 10px;
}

.resource{
    font-size: 1.5em;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.heading{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content 1fr;
    border: 1px solid black;
}

.main-section{
   grid-row: 2 / -1; 
   grid-column: 2 / -1;
   display: grid;
   grid-template-areas: "project project project project project announce"
   "project project project project project trend";
}