
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 25px;
     
}

body{
    max-width: 100%;
    overflow-x: hidden;
}
/* Grid to layout whole page */
.everything{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: max-content 4fr;
    grid-template-rows: 1fr 4fr;
}



/* Dashboard on the left of screen containing links */
.dash{
    color: white;
    background-color: rgb(29, 172, 220);
    grid-row: 1 / -1; 
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dash-header{
    font-size: 1.5em;
    padding: 10px 15px 5px 1px;
    display: flex;
    align-items: flex-start;
    gap: 5px;
}


.resource{
    font-size: 1em;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.resource:hover{
    color: rgb(222, 139, 208);
    cursor: pointer;
}

/* heading */
.heading{
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content min-content;
    padding-left: 20px;
    z-index: 2;
    background-color: rgb(165, 222, 238);
    box-shadow: 0px 5px 5px 0px rgba(125,125,125,1);
}

.magnify{
    height: 30px;
    align-self: center;
}

/* search bar */
.search{
    width: 90%;
    height: fit-content;
    position: relative;
    display: flex;
    align-self: center;
    gap: 20px;
    padding-top: 5px;
    
}

.searchTerm{
    width: 100%;
    border: none;
    padding: 5px;
    border-radius: 50px;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: rgb(180, 166, 166)
}


/* bell, name and logo on the top right of header */
.logo-name-bell{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: left;
    padding-top: 10px;
    padding-right: 10px;
    
}

.portrait{
    border: 2px solid rgb(29, 172, 220);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    
}

.porridge{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;

}

.my-name{
    font-weight: bold;
}


/* information below search bar */
.logo-hi-name{
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-top: 20px;
    align-items: center;
    padding-bottom: 30px;
}

.column{
    display: flex;
    flex-direction: column;
}

.big-portrait{
    border: 2px solid rgb(29, 172, 220);
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.hi, .big-name{
    font-weight: bold;
}

/* main section */
.main-section{
   position: relative;
   background-color: rgb(255, 255, 255);
   grid-row: 2 / -1; 
   grid-column: 2 / -1;
   display: grid;
   grid-template-areas: "project project project project project right-side-top"
   "project project project project project right-side-bot";
   padding-top: 30px;

}
/* projects in centre */
.my-projects{
    grid-column: 1 / 2 ;
    grid-row: 1 / 2 ;
    padding-left: 20px;
}
.projects{
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2 ;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 20px;
    padding:  50px 20px 20px 20px;
}

.project{
    padding: 20px 60px 0px 20px;
    background-color: rgb(165, 222, 238);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px 0px rgba(125,125,125,1);
}

.project > .images{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    gap: 10px;
    padding-bottom: 15px;
}

.project > p{
    font-size: 0.8em;
    padding-right: 20px
}


.happy:hover, .star:hover, .share:hover{
animation: shake 1.5s;
animation-iteration-count: infinite;
}

@keyframes shake{
   0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


/* announcements and trends on the right */
.announce-trend{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 20px;
    
}

.right-side-top{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.announcement{
    max-width: 180px;
    max-height: 180px;
}

.announcement > p:nth-last-of-type(1){
    font-size: 0.5em;
}

