*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 25px;
}

/* Grid to layout whole page */
.everything{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: max-content 4fr;
    grid-template-rows: 1fr 4fr;
    
}



/* Dashboard on the left of screen containing links */
.dash{
    color: white;
    background-color: rgb(87, 195, 231);
    grid-row: 1 / -1; 
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dash-header{
    font-size: 1.7em;
    padding: 10px 15px 5px 10px;
}

.resource{
    font-size: 1em;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.resource:hover{
    color: rgb(222, 139, 208);
    cursor: pointer;
}

/* heading */
.heading{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content min-content;
    padding-left: 20px;
}

.magnify{
    height: 30px;
    align-self: center;
}

/* search bar */
.search{
    width: 90%;
    height: fit-content;
    position: relative;
    display: flex;
    align-self: center;
    gap: 20px;
}

.searchTerm{
    width: 100%;
    border: none;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: grey;
}

::placeholder{
    color: black;
}


/* bell, name and logo on the top right of header */
.logo-name-bell{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: left;
    padding-top: 5px;
    
}

.bell{
    align-self: center;
}

.portrait{
    border: 2px solid rgb(87, 195, 231);
    border-radius: 50%;
    min-height: 75px;
    min-width: 75px;
    align-self: center;
}

.my-name{
    align-self: center;
    font-weight: bold;
}


/* information below search bar */
.logo-hi-name{
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-top: 20px;
    align-items: center;
    padding-bottom: 30px;
}

.column{
    display: flex;
    flex-direction: column;
}
.big-portrait{
    border: 2px solid rgb(87, 195, 231);
    border-radius: 50%;
    min-height: 100px;
    min-width: 100px;
}

.hi, .big-name{
    font-weight: bold;
}

/* main section */
.main-section{
   background-color: rgb(193, 185, 185);
   grid-row: 2 / -1; 
   grid-column: 2 / -1;
   display: grid;
   grid-template-areas: "project project project project project announce"
   "project project project project project trend";
   padding-top: 30px;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.project{
    height: fit-content;
    width: fit-content;
    background-color: aqua;
    
}

